#movieContent {
    display: flex;
    justify-content: center;
    margin-left: .75em;
}

#movieMessage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 75px;
    background-image: url('../../assets/Warning1.png');
    object-fit: cover;
    color: white;
    text-shadow: black 0px 0px 2.5px, black 0px 0px 2.5px, black 0px 0px 2.5px,black 0px 0px 2.5px, black 0px 0px 2.5px,black 0px 0px 2.5px;
}

#movieButton {
    box-shadow: 2px 4px 25px yellow;
    border: 6px dotted yellow;
    border-radius: 5px;
    margin: .25em;
}