#routerButton {
    display: flex;
    justify-content: flex-start;
}

#title {
    display: flex;
    justify-content: center;
}

#titleButtons {
    display: flex;
    justify-content: flex-end;
}

#searchBar {
    display: flex;
    justify-content: center;
}

#myReviews {
    color: white;
}

.MuiDrawer-paper {
    background-color: #424242 !important;
}

.links {
    color: white;
}

/* .MuiIconButton-root {
    color: white !important;
} */
